@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --background-2: #ffedd2;
  --foreground: #000000;
  --accent: #cd7400;
  --dark-gray: #353535;
}

@theme {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-dark-gray: var(--dark-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
}
